///////////////////////////////////////////////////////////////////////////////
// Bootstrap TRANSITIONS
///////////////////////////////////////////////////////////////////////////////
$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;
$enable-transitions:true;


/////////////////////////////////////////////////////////////////////////////////////
// Predictive search
/////////////////////////////////////////////////////////////////////////////////////
$predictiveSearchTransformTransition:300ms;

/////////////////////////////////////////////////////////////////////////////////////
// Search filters mobile
/////////////////////////////////////////////////////////////////////////////////////
$modalTransformTransition:500ms;


/////////////////////////////////////////////////////////////////////////////////////
// Search filters mobile
/////////////////////////////////////////////////////////////////////////////////////
$panelTransformTransition:300ms;


/////////////////////////////////////////////////////////////////////////////////////
// Export variables fo JS
/////////////////////////////////////////////////////////////////////////////////////
:export {
  predictiveSearchTransformTransition: $predictiveSearchTransformTransition;
  modalTransformTransition: $modalTransformTransition;
  panelTransformTransition: $panelTransformTransition;
}
