.text-color {
  &--blue {
    color: $brand-color;
  }

  &--white {
    color: $white-color;
  }

  &--black {
    color:$brand-color;
  }
}

h1 {
  margin: 0;
  font-size: 48px;
  line-height: 64px;
  font-weight: normal;
  color:$brand-color;
}

h2 {
  margin: 0;
  font-size: 28px;
  font-weight: normal;
  line-height: 40px;
  color:$brand-color;
}


h3 {
  margin: 0;
  color:$brand-color;
  font-size: 22px;
  line-height: 32px;
}
