<form action="sendAddress" class="form">
  <div class="row">
    <div class="col-lg-6">
      <div class="fieldset">
        <p class="fieldset-legend">Votre identité</p>
        <div class="form-group">
          <p>Prénom</p>
          <input type="text">
          </p>
        </div>
        <div class="form-group">
          <p>Nom</p>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="fieldset">
        <p class="fieldset-legend">Vos coordonnées</p>
        <div class="form-group">
          <p>Rue</p>
          <input type="text">
        </div>
        <div class="form-group">
          <p>Code postal</p>
          <input type="text">
        </div>
        <div class="form-group">
          <p>Ville</p>
          <input type="text">
        </div>
        <div class="form-group">
          <p>Pays</p>
          <input type="text">
        </div>
      </div>
    </div>

  </div>



  <input type="submit" value="Entrer">
</form>