body { color: $black-color; }
  
.main-col { padding: 50px 0;}
  
a {
    background-color: rgb(228, 228, 228);
    border: 1px solid rgb(121, 121, 121);
    border-radius: 2px;
    padding: 6px;

    &.avoidance-link {
        display: inline-block;
        color: #555;
        background: #fff;
        padding: .5em;
        position: absolute;
        left: -99999rem;
        z-index: 100;

        &:focus { left: 0; }
    }
}
