{% extends "../base.html.twig" %}
{% block title %}Exercice piège au focus{% endblock %}
{% block bodyClass %}exercice{% endblock %}

{% block content %}
<h1>Le piège au focus</h1>

<!-- bouton -->
<button type="button" aria-pressed="false" aria-label="Ouvrir le formulaire d'ajout d'adresse" id="modal-button" class="base-modal__open">
  Ouvrir
</button>

<!-- base-modal, ouverte par défaut -->
<div class="base-modal base-modal--show" id="address-modal">
  <span class="base-modal__backdrop"></span>

  <div class="base-modal__body">
    <div class="base-modal__header">

      <button type="button" aria-pressed="true" aria-label="Fermer le formulaire d'ajout d'adresse" class="base-modal__close">
        <span class="base-modal__close__icon">
          <span></span>
          <span></span>
        </span>
      </button>

      <h2 id="dialogTitle" class="base-modal__title">Mon adresse</h2>
    </div>

    <div class="base-modal__content">
      {% include "../components/form.html.twig" %}
    </div>

  </div>
</div>

{% endblock %}
